map/provided/*.zip
map/map_process
*.aux
*.out
*.pdf
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.loa
*.synctex.gz
*.toc
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.dvi
*.lof
obj/
main
*.nodes
*.edges
*.points
clients_*.clients
*.rides
*.png
lib*.a
generator
*.csv
empirical/GraphGenerator
empirical/GenerateEmpirical
