[submodule "map/rapidxml"]
	path = map/rapidxml
	url = https://github.com/dwd/rapidxml.git
[submodule "test/Catch2"]
	path = test/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "utils"]
	path = utils
	url = https://github.com/dmfrodrigues/utils.git
[submodule "GraphViewerCpp"]
	path = GraphViewerCpp
	url = https://github.com/dmfrodrigues/GraphViewerCpp.git
